* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .hero {
    position: relative;
    height: 100vh;
    width: 100%;
    background: 
    radial-gradient(circle at center, rgba(255, 255, 255, 0.15) 0%, transparent 60%),
    linear-gradient(to right, #061534, #061534);    display: flex;
    flex-direction: column;
    color: white;
    overflow: hidden;
  }
  
  .hero-content {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding: 0 4rem;
    position: relative;
  }
  
  .hero-text {
    margin-top: 60px;
    align-self: center;
    position: relative;
  }
  
  .hero-text h1 {
    font-size: 3.2rem;
    font-weight: 800;
    width: 700px;
    font-family: "Oswald", sans-serif;
    margin-bottom: 1rem;
    text-transform: uppercase;
    position: relative;
bottom: 200px;
  }
  
  .hero-text p {
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: #F8DE04;
    position: relative;
    bottom: 200px;
  }
  
  .hero-wheel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-wheel .circle {
    position: absolute;
    max-width: 220%;
    height: auto;
    z-index: 1;
    top: 40px;
    left: -500px;
    opacity: 0.8;
  }
  
  .hero-wheel .wheel {
    position: relative;
    max-width:200%;
    left: -350px;
    height: auto;
    z-index: 2;
    filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.6));
  }
  
  .hero-cta {
    position: absolute;
    display: flex;
    right: 30px;
    top: 170px;
    gap: 1rem;
    align-items: flex-start;
  }
  
  .btn {
    padding: 0.8rem 2rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
  }
  
  .buy {
    background: #F8DE04;
    color: black;
  }
  
  .buy:hover {
    background: #F8DE04;
  }
  
  .details {
    background: transparent;
    border: 2px solid #F8DE04;
    color: #F8DE04;
  }
  
  .details:hover {
    background: #F8DE04;
    color: black;
  }
.arrow {
    position: absolute;
    top: 108%;
    transform: translateY(-50%);
    background: #333; 
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 3;
  }
  
  .arrow:hover {
    background: #F8DE04; 
  }
  
  .arrow.left {
  margin-top: 20px;
    left: 20px; 
  }
  
  .arrow.right {
    right: 220px; 
  }


  
  .hero-text .description {
    font-size: 1rem;
    margin-top: 1rem;
    max-width: 400px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.8);
  }